* {
    box-sizing: border-box;
}

.equalizer-container {
    border: 2px solid #2c3e50;
    border-radius: 5px;
    color: #2c3e50;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 350px;
    margin: 20px auto;
    padding: 30px;
    text-align: center;
    width: 430px;
}

p,
.equalizer-controls {
    margin-bottom: 30px;
}

input[type=range] {
    -webkit-appearance: slider-vertical;
    width: 40px;
}